<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 

<div class="container">
    <div class="row">
        <div class="col-6">
            <app-video></app-video>
        </div>

        <div class="col-6">
            <app-video></app-video>
        </div>
    </div>

   <div class="row">
       <div class="col-6">
           <app-video></app-video>
       </div>

       <div class="col-6">
           <app-video></app-video>
       </div>
   </div>
</div>
